*.user

/.vs
/src/.vs
/src/FromScratch/.vs

/src/FromScratch.Domain/bin
/src/FromScratch.Domain/obj

/src/FromScratch.Web.Api/bin
/src/FromScratch.Web.Api/obj

/src/FromScratch.Unit.Tests/bin
/src/FromScratch.Unit.Tests/obj

/src/FromScratch.Services/bin
/src/FromScratch.Services/obj

/src/packages